<%- include("head") %>

<main>
    <form action="add_article" method="post" >
       nom art. <input type="text" name="nom" />
       prix  <input type="number" name="prix" step="0.01">
        <input type="submit" value="envoi">
    </form>
</main>